<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Max - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"> Visualization Dashboard</h1>
                    </div>
                   
                   <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-5 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-6">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">BarChart</h6>
                                </div>
                                <div class="card-body">
                                    <select id="selectVar">
                                        <option disabled selected value> -- select an option -- </option>
                                      </select>
                                    <div id="div1">

                                    </div>
                                </div>
                            </div>

                            <!-- Color System -->
                    

                        </div>

                        <div class="col-lg-7 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Map</h6>
                                </div>
                                <div class="card-body">
                                    <label for="selectYear">Choose a Year:</label>
                                    <select id="selectYear">
                                        <option disabled selected value> -select- </option>
                                    </select>
                                    <label for="selectAtr">Select a Stat:</label>
                                    <select id="selectAtr">
                                        <option disabled selected value> -- select -- </option>
                                    </select>
                                    <div id="div2">

                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-6 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">PCP Plot</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="div3">

                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Scatter Plot</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <label for="selectYear">Choose a Year:</label>
                                    <select id="selectYear">
                                        <option disabled selected value> -Year- </option>
                                    </select>
                                    <label for="selectA"> X:</label>
                                    <select id="selectA">
                                        <option disabled selected value> -X-axis- </option>
                                    </select>
                                    <label for="selectB"> Y:</label>
                                    <select id="selectB">
                                        <option disabled selected value> -Y-axis- </option>
                                    </select>
                                    <label for="selectC"> Color:</label>
                                    <select id="selectC">
                                        <option disabled selected value> -Color- </option>
                                    </select>
                                    <label for="selectD"> Size:</label>
                                    <select id="selectD">
                                        <option disabled selected value> -Size- </option>
                                    </select>
                                    <div id="div4">

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <script src='https://d3js.org/d3.v4.min.js'></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/Flower.js"></script>
    <script src="../static/js/ScatterMatrix.js"></script>
    <script src="../static/js/ScreePlot.js"></script>
    <script src="../static/js/BiPlot.js"></script>
    <script src="../static/js/MDSPlot.js"></script>
    <script src="../static/js/PCP.js"></script>
    <script src="../static/js/BarChart.js"></script>
    <script src="../static/js/ScatterPlot.js"></script>
    <script src="../static/js/MyMap.js"></script>
    <script src="../static/js/index.js"></script>
    <script>display_ScreePlot()</script>
</body>

</html>